[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/hxjwb/ffmpeg-public
[submodule "third_party/openh264/src"]
	path = third_party/openh264/src
	url = https://github.com/hxjwb/openh264-public
[submodule "third_party/x264"]
	path = third_party/x264
	url = https://github.com/hxjwb/x264.git
